.article2-bg {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
}

.article2-bg h2 {
  padding-left: 100px;
  padding-bottom: 30px;
  font-size: 4rem;
  text-transform: lowercase;
}

.article2-bg h2 span {
  color: #ffbb00;
}
.article2-cont {
  overflow-x: auto;
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
  margin-bottom: 100px;
}

.article2-itens {
  /* Impedir que os itens diminua */
}

@media screen and (max-width: 850px) {
  .article2-cont {
    overflow-x: scroll;
  }
}

.article2-itens img {
  min-width: 300px;
  aspect-ratio: 1 / 1.3;
  object-fit: cover;
  width: auto;
  height: auto;
  margin-bottom: 15px;
  display: inline-block;
}

.article2-itens h3 {
  font-size: 2rem;
  margin-bottom: 15px;
  position: relative;
}

.article2-itens h3::before {
  content: "";
  display: block;
  background-color: #ffbb00;
  height: 5px;
  width: 18px;
  position: absolute;
  bottom: -5px;
  transition: 0.3s;
}

.article2-itens h3:hover::before {
  content: "";
  display: block;
  background-color: #ffbb00;
  height: 5px;
  width: 35px;
  position: absolute;
}

.article2-itens p {
  font-size: 1.125rem;
  color: #595959;
}

@media (max-width: 850px) {
  .article2-bg h2 {
    font-size: 2rem;
    padding: 20px 0px;
  }

  .article2-itens h3 {
    font-size: 1.125rem;
  }

  .article2-itens p {
    font-size: 0.85rem;
  }

  .article2-cont {
    gap: 10px;
  }

  .article2-itens img {
    min-width: 250px;
  }
}

@media (max-width: 600px) {
  .article2-bg h2 {
    font-size: 2rem;
    padding: 20px 0px;
  }
  .article2-itens img {
    aspect-ratio: 1 / 1.1;
    object-fit: cover;
    width: auto;
    height: auto;
    margin-bottom: 15px;
  }

  .article2-cont {
    gap: 10px;
  }

  .article2-itens img {
    /* Impedir que os itens diminua */
  }

  .article2-itens h3 {
    font-size: 1.125rem;
  }

  .article2-itens p {
    font-size: 0.85rem;
  }

  .article2-itens h3::before {
    content: "";
    display: block;
    background-color: #ffbb00;
    height: 2px;
    width: 18px;
    position: absolute;
    bottom: -5px;
    transition: 0.3s;
  }
  .article2-itens h3:hover::before {
    content: "";
    display: block;
    background-color: #ffbb00;
    height: 2px;
    width: 35px;
    position: absolute;
  }
}
