.article5-bg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #ffbb00;
  gap: 80px;
  align-items: center;
  position: relative;
}

.article5-bg::after {
  content: "";
  display: block;
  background-image: url(/img/dec/bottom-right-p.svg);
  height: 55px;
  width: 55px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.article5-bg span {
  display: inline-block;
  padding-top: 40px;
  grid-column: 2;
  color: #332200;
  font-family: "Merriweather";
}

.article5-bg img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.article5-cont h1 {
  color: #332200;
  font-family: "Merriweather";
  padding-right: 40px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  padding-bottom: 20px;
  max-width: 600px;
  position: relative;
}

.article5-cont h1::after {
  content: "“";
  color: #e4a30b;
  font-family: serif;
  font-size: 6rem;
  display: inline-block;
  width: 40px;
  height: 10px;
  bottom: -40px;
  position: absolute;
  transform: rotate(180deg);
}

.article5-cont h1::before {
  content: "“";
  color: #e4a30b;
  font-family: serif;
  font-size: 6rem;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: -60px;
  left: -30px;
}

@media (max-width: 1000px) {
  .article5-cont h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 850px) {
  .article5-bg {
    grid-template-columns: repeat(1, 1fr);
    align-items: none;
    gap: 40px;
  }

  .article5-bg img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 0px;
  }

  .article5-cont h1 {
    padding: 0px 40px;
    font-size: 1.2rem;
    text-align: center;
    max-width: none;
  }

  .article5-bg span {
    display: block;
    text-align: center;
    padding-bottom: 40px;
  }
  .article5-bg::after {
    content: "";
    display: block;
    background-image: url(/img/dec/bottom-right-p.svg);
    height: 55px;
    width: 55px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-size: 70%;
  }

  .article5-cont h1::after {
    content: "“";
    color: #e4a30b;
    font-family: serif;
    font-size: 4rem;
    display: inline-block;
    width: 40px;
    height: 10px;
    position: absolute;
    transform: rotate(180deg);
  }

  .article5-cont h1::before {
    content: "“";
    color: #e4a30b;
    font-family: serif;
    font-size: 4rem;
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -40px;
    left: 15px;
  }
}
